In [28]:
from asdf import AsdfFile
import asdf
import pandas as pd
import numpy as np

#stop_times = pd.read_csv('stop_times.txt')
#stop_times = np.array(stop_times)
f = open("stop_times.txt", "r")
#print(f.read())

tree = {'array': f.read()}
ff = AsdfFile(tree)
ff.write_to("stop_times_asdf.asdf")

In [98]:
af = asdf.open('stop_times_asdf.asdf')
my_list = af.tree['array']
n_split = my_list.split('\n')
n_split_comma = [sub.split(',') for sub in n_split[1:]]
df = pd.DataFrame(data=n_split_comma)
df.columns = n_split[0].split(',')

In [99]:
df

,stop_id,trip_id,stop_sequence,arrival_time,departure_time,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,12768,1202982,1,8:00:00,8:00:00,,0,0,,
1,13193,1202982,2,8:00:08,8:00:08,,0,0,0.0475,
2,12394,1202982,3,8:01:55,8:01:55,,0,0,0.6402,
3,9732,1202982,4,8:02:28,8:02:28,,0,0,0.8252,
4,9733,1202982,5,8:02:54,8:02:54,,0,0,0.973,
...,...,...,...,...,...,...,...,...,...,...
719210,7552,1447370,8,19:31:00,19:31:00,,0,0,24.9575,
719211,9577,1447370,9,19:32:50,19:32:50,,0,0,25.6288,
719212,6672,1447370,10,19:33:18,19:33:18,,0,0,25.801,
719213,7513,1447370,11,19:34:00,19:34:00,,0,0,26.0511,
719214,,None,None,None,None,None,None,None,None,None

In [84]:
stop_times = pd.read_csv('stop_times.txt')

/Users/helena/anaconda3/envs/a330/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3417: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [85]:
stop_times

,stop_id,trip_id,stop_sequence,arrival_time,departure_time,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,12768,1202982,1,8:00:00,8:00:00,NaN,0.0,0.0,NaN,NaN
1,13193,1202982,2,8:00:08,8:00:08,NaN,0.0,0.0,0.0475,NaN
2,12394,1202982,3,8:01:55,8:01:55,NaN,0.0,0.0,0.6402,NaN
3,9732,1202982,4,8:02:28,8:02:28,NaN,0.0,0.0,0.8252,NaN
4,9733,1202982,5,8:02:54,8:02:54,NaN,0.0,0.0,0.9730,NaN
...,...,...,...,...,...,...,...,...,...,...
719209,9000,1447370,7,19:12:00,19:12:00,NaN,0.0,0.0,1.9256,NaN
719210,7552,1447370,8,19:31:00,19:31:00,NaN,0.0,0.0,24.9575,NaN
719211,9577,1447370,9,19:32:50,19:32:50,NaN,0.0,0.0,25.6288,NaN
719212,6672,1447370,10,19:33:18,19:33:18,NaN,0.0,0.0,25.8010,NaN
719213,7513,1447370,11,19:34:00,19:34:00,NaN,0.0,0.0,26.0511,NaN